.project-head
	= avatar
	.project-title
		%h1.title= @track.title
		.clr
		%span.creator-info
			= "By:" 
			= link_to @track.user.username, @track.user

.clr

#main
	.project-left
		.label-left
			%h2= @track.bpm
			%h2= @track.versions
			%h2= @track.followers
		.label-right
			%h2
				%span.label
					BPM
			%h2
				%span.label
					versions
			%h2
				%span.label
					followers
	.project-main
.clr