%h3 Upload the bounced version of your track below
#bounced-file-target.dropZone
	%h2.drop-text Drop File Here
%form{:multipart => true,:class => "direct-upload"}
	%input{:type => "file", :id => "", :name => "track[asset_data]",:style => "display:none;"}
	%input{:type => "hidden", :value => current_user.token, :name => "oauth_token"}
	%input{:type => "hidden", :value => "test", :name => "track[title]"}
.progress-container
= form_for @production, :html => {:multipart => true, :id => "new_production"} do |f|
	= f.label :title
	= f.text_field :title
	= f.fields_for :versions do |version|
		= version.hidden_field :audio_file, :id => "real_audio_file"
		= version.hidden_field :user_id
		= version.hidden_field :production_id
	= f.submit
%script#template-upload{:type => "text/x-tmpl"}
	.upload.ui-progress-bar
		.bar.ui-progress{:style => "width: 0%"}
			%span
				{%=o.name%}
= javascript_include_tag "//connect.soundcloud.com/sdk.js"