%p
	%strong Make sure you have both the production file and bounced file available before proceeding!
%h3 1. Name your Track
%label Title:
%input{:type => "text", :id => "title"}
%h3 2. Upload the your track in .als format below
#source-target.dropZone
	%h2.drop-text Drop File Here
	%form{:action => "https://#{ENV['AWS_S3_BUCKET']}.s3.amazonaws.com", :method => "post", :enctype => "multipart/form-data", :class => 'direct-upload', :id => "source-file"}
		%input{type: :hidden, name: :key}
		%input{type: :hidden, name: "AWSAccessKeyId", value: ENV['AWS_ACCESS_KEY_ID']}
		%input{type: :hidden, name: :acl, value: 'public-read'}
		%input{type: :hidden, name: :policy}
		%input{type: :hidden, name: :signature}
		%input{type: :hidden, name: :success_action_status, value: "201"}

		%input{type: :file, name: :file , style: "display:none;"}
.progress-container-source
%h3 3. Upload the bounced version of your track below
#bounced-file-target.dropZone
	%h2.drop-text Drop File Here
	%form{:multipart => true,:class => "direct-upload", :id => "bounced-file"}
		%input{:type => "file", :id => "", :name => "track[asset_data]",:style => "display:none;"}
		%input{:type => "hidden", :value => current_user.token, :name => "oauth_token"}
		%input{:type => "hidden", :value => "test", :name => "track[title]"}
.progress-container-version
= form_for @production, :html => {:multipart => true, :id => "new_production"} do |f|
	= f.hidden_field :title
	= f.fields_for :versions do |version|
		= version.hidden_field :audio_file, :id => "real_audio_file"
		= version.hidden_field :source_file, :id => "real_source_file"
		= version.hidden_field :user_id
		= version.hidden_field :production_id
	= f.submit
%script#template-upload{:type => "text/x-tmpl"}
	.upload.ui-progress-bar
		.bar.ui-progress{:style => "width: 0%"}
			%span
				{%=o.name%}
= javascript_include_tag "//connect.soundcloud.com/sdk.js"