.actions
	= link_to image_tag('icons/18px/smiley.png',:class => "icon follow")+"follow", "#", :class => "follow"
	= link_to image_tag('icons/18px/plus.png',:class => "icon download")+"Download", version.audio_file, :class => "download"
	= link_to image_tag('icons/18px/fork.png',:class => "icon fork")+"Fork", "/productions/#{@production.id}/versions/#{version.id}/new", :class => "fork"