- content_for :head do
	= stylesheet_link_tag "productions"
.project-head
	= avatar(@production.creator)
	.project-title
		%h1.title= @production.title
		.clr
		%span.creator-info
			= "By:" 
			= link_to @production.creator.username , @production.creator
	.actions
		= render "shared/production_follow_form", :production => @production
.clr

#main
	.project-left
		.label-left
			%h2 120
			%h2#production_versions= @production.versions.size
			%h2#production_followers= @production.followers.size
		.label-right
			%h2
				%span.label
					BPM
			%h2
				%span.label
					versions
			%h2
				%span.label
					followers
	.project-main
		= render :partial => "production" 
.clr
:javascript
	$(function() {
		var actions = [];
		$('.player-target').each(function(i,v) {
			actions.push(function(callback) {
				var id = $(v).attr('id');
				$.ajax({
					url: "/scplayer/"+id,
					cache: false,
					success: function(html) {
						$(".player-target#"+id).html(html);
						callback();
					}
				});
			});
		});
		var sequencer = new Sequencer(actions);
		sequencer.start();
	});