- content_for :head do
	= stylesheet_link_tag "productions"
.project-head
	= avatar(@production.creator)
	.project-title
		%h1.title= @production.title
		.clr
		%span.creator-info
			= "By:" 
			= link_to @production.creator.username , @production.creator

.clr

#main
	.project-left
		.label-left
			%h2 120
			%h2= @production.versions.length
			%h2= "XX"
		.label-right
			%h2
				%span.label
					BPM
			%h2
				%span.label
					versions
			%h2
				%span.label
					followers
	.project-main
		= render :partial => "production" 
.clr