
<div class="project-head">
	<%= if FileTest.exist?("#{Rails.root}/app/assets/images/avatars/#{@project_creator.id}.png")
		then image_tag "avatars/#{@project_creator.id}.png", :size => "80x80", :class => "avatar" 
		else image_tag "avatars/_default.png", :size => "80x80", :class => "avatar" 
			end %>
	<div class="project-title">
		<h1 class="title"><%= @project.title %> </h1>
		<div class="clr"></div>
		<span class="creator-info">By: <%= @project_creator.username %></span>
	</div>
</div>

<div class="clr"></div>

<div id="main">
	<div class="project-left">
		<div class="label-left">
			<h2><%= @project.bpm %></h2>
			<h2><%= @project.versions %></h2>
			<h2><%= @project.followers %></h2>
		</div>
		<div class="label-right">
			<h2><span class="label">BPM</span></h2>
			<h2><span class="label">versions</span></h2>
			<h2><span class="label">followers</span></h2>
		</div>
	</div>
	<div class="project-main">
		
	</div>
</div>
<div class="clr"></div>