.version
	.branch
	= avatar(version.user)
	.version-info
		%h3.version-title
			%span= version.title
			= " by #{version.user.username}"
		%span.version-user
			.clr
			- @user = version.user
			= render "shared/follow_form", :user => @user			
		%span
	.clr
	.player-target{:id => version.id}
		.processing
			= image_tag('ajax-loader.gif')
	= render :partial => "player", :locals => { :version => version }
	= render :partial => "shared/vote", :locals => { :version => version }