.version
	.branch
	= avatar(version.user)
	.version-info
		%h3.version-title= version.user.username
		%span.version-user
			.clr
			- @user = version.user
			= render "shared/follow_form", :user => @user

			
		%span
	.clr
	.player-target{:id => version.id}
		.processing
			= image_tag('ajax-loader.gif')
	= render :partial => "player", :locals => { :version => version }
	.votes{:id => "#{'feature' if version == @feature}"}
		= link_to image_tag('icons/32px/arrow-up.png', :class => "up"), version_votes_path('version_vote[version_id]' => version.id), :method => :post, :remote => true
		%h3.vote-count
			%span{:class => "#{version.id}"}= version.version_votes.size
			votes
		- if version == @feature
			%h3.feature
				%span *Current Feature
		= link_to image_tag('icons/32px/arrow-down.png',:class => "down"), version