!!! 5
%html
	%head
		%title= "Soundcrowd"
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield :head
	%body
		%header
			= link_to logo, "/"
			%nav
				%a.signup
				- if user_signed_in?
					= link_to "Sign Out", destroy_user_session_path, :method => :delete
					= " | "
					= link_to "Settings", edit_user_registration_path
				- else
					= link_to "Sign In", new_user_session_path 
					= " | " 
					= link_to "Sign Up", new_user_registration_path
		.clr
		.main
			%p.notice= notice
			%p.alert= alert
			= yield
			.clr
			%br
			= link_to_function "« Back", "history.back()", :class => "back"
			= debug(params) if Rails.env.development?
