!!! 5
%html
	%head
		%title= "Soundcrowd"
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield :head
		= stylesheet_link_tag params[:controller]
		- unless params[:controller] == 'productions' and params[:action] == 'show'
			= stylesheet_link_tag "all"
	%body
		= render :partial => "/layouts/header"
		.clr
		.main
			- if notice
				%p.notice= notice
			- if alert
				%p.alert= alert
			= yield
			.clr
			%br
			= link_to_function "« Back", "history.back()", :class => "back"
			= debug(params) if Rails.env.development?
